{% load static %}
{% load home_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&family=Vollkorn:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Only Business Nothing personal</title>
</head>

<header>
    <div class="container-header">
    <div class="item-header logo">
        <a href="/" class="logo-link">
            OBNP
        </a>
    </div>
    <div class="item-header">
        
    </div>
    <div class="item-header">
        <div class="wrapper-login">
            {% if not user.is_authenticated %}
            <div class="login text">
                <a href="{% url 'login' %}" class="link-login">Войти</a>
            </div>
            <div class="registration text">
                <a href="{% url 'registration' %}" class="link-registration">Регистрация</a>
            </div>
            {% else %}
            <div class="account text">
                <a href="{% url 'account' %}" class="link-account">Аккаунт</a>
            </div>
            <div class="logout text">
                <a href="{% url 'logout' %}" class="link-logout">Выйти</a>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
</header>

{% show_menu %}



<body>
<section class="main">
    {% block content %}

    {% endblock %}
</section>

</body>


<footer>
    
</footer>

</html>

